/* #ecf; */
body {
  font-family: arial;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  padding: 0;
  background-color: #102;
}

/* Resources and player colors */
.fg-red {
  color: #c00 !important;
}

.fg-green {
  color: #090 !important;
}

.fg-purple {
  color: #909 !important;
}

.fg-blue {
  color: #09f !important;
}

.fg-orange {
  color: #f60 !important;
}

.fg-yellow {
  color: #fc0 !important;
}

.text.red {
  color: #fff !important;
}

.text.green {
  color: #fff !important;
}

.text.purple {
  color: #fff !important;
}

.text.blue {
  color: #fff !important;
}

.text.orange {
  color: #000 !important;
}

.text.yellow {
  color: #000 !important;
}

.red {
  background-color: #c00 !important;
}

.green {
  background-color: #090 !important;
}

.purple {
  background-color: #909 !important;
}

.blue {
  background-color: #09f !important;
}

.orange {
  background-color: #f60 !important;
}

.yellow {
  background-color: #fc0 !important;
}

.gray {
  background-color: #ccc !important;
}

.inner {
  background-color: transparent !important;
}

.Bronze {
  background-color: #960 !important;
  color: #000 !important;
}

.Silver {
  background-color: #cef !important;
  color: #000 !important;
}

.Gold {
  background-color: #ff0 !important;
  color: #000 !important;
}

svg.red {
  fill: #c00;
}

svg.green {
  fill: #090;
}

svg.purple {
  fill: #909;
}

svg.blue {
  fill: #09f;
}

svg.orange {
  fill: #f60;
}

svg.yellow {
  fill: #fc0;
}

svg.gray {
  fill: #ccc;
}

.wild {
  background-image: conic-gradient(#c00, #909, #09f, #090, #fc0, #f60, #c00) !important;
}

.icon {
  display: inline-block;
  background-size: 100%;
  vertical-align: top;
  position: relative;
  background-color: black;
  border-radius: 12.5%;
  text-align: center;
  vertical-align: middle;
}

.badge {
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 12.5%;
  font-weight: bold;
  z-index: 1;
}

.badge.left {
  left: 0;
}

.badge.right {
  right: 0;
}

.badge.top {
  top: 0;
}

.badge.bottom {
  bottom: 0;
}

.badge.negative {
  color: red !important;
}

.tooltip {
  background-color: white;
  color: black;
  border: 0.1em solid black;
  border-radius: 0.2em;
  position: absolute;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left;
  white-space: nowrap;
  display: none;
  z-index: 3;
}

.help .heading {
  font-weight: bold;
}

.icon .tooltip ul {
  padding-left: 1em;
}

.move {
  background-image: url("img/walking-boot.svg");
}

.fly {
  background-image: url("img/liberty-wing.svg");
}

.attack {
  background-image: url("img/plain-dagger.svg");
}

.rangedAttack {
  background-image: url("img/high-shot.svg");
}

.fortify {
  background-image: url("img/shield.svg");
}

.gem {
  background-image: url("img/seven-pointed-star.svg");
}

.draw {
  background-image: url("img/swap-bag.svg");
}

.return {
  background-image: url("img/return.svg");
}

.deploy {
  background-image: url("img/crested-helmet.svg");
}

.clone {
  background-image: url("img/clone.svg");
}

.upgrade {
  background-image: url("img/plain-arrow.svg");
}

.upgrade-eq {
  background-image: url("img/plain-arrow-equal.svg");
}

.upgrade-diff {
  background-image: url("img/plain-arrow-not-equal.svg");
}

.gain-tech {
  background-image: url("img/card-draw.svg");
}

.swap {
  background-image: url("img/cycle.svg");
}

.spy {
  background-image: url("img/eye-target.svg");
}

.ghost {
  background-image: url("img/haunting.svg");
}

.ev-turn {
  background-image: url("img/clockwise-rotation.svg");
}

.neighbours {
  display: inline-block;
}

.Neighbours .icon {
  transform: scale(0.9);
}

.spot {
  display: inline-block;
  border-radius: 12.5%;
  position: relative;
  vertical-align: top;
}

.tech {
  background-color: white;
  display: inline-block;
  position: relative;
}

.tech .heading {
  background-color: black;
  color: white;
  padding-left: 0.5em;
  display: flex;
  justify-content: space-between;
}

.tech .heading .vp {
  background-color: white;
  color: black;
  font-size: smaller;
  margin: 0.2em;
  border-radius: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.activation {
  display: flex;
  justify-content: space-between;
  margin: 0.2em;
  z-index: 0;
  background-color: #eee;
  border-radius: 0.2em;
}

.part {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.action {
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}

/* --- board ---------------------------------------------------------------- */
.board {
  padding: 0;
  display: inline-block;
  position: relative;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  background-color: #203;
  border-radius: 0.5em;
  border: 0.2em solid #636;
  overflow: auto;
}

.hex {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.hex.border {
  position: absolute;
  background-size: cover;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  pointer-events: none;
  background-color: black;
  z-index: 0;
}

.hex .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  opacity: 85%;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  pointer-events: auto;
  z-index: 2;
}

.forest {
  background-image: url("img/terrain/forest.jpg");
}

.mountain {
  background-image: url("img/terrain/mountain.jpg");
}

.swamp {
  background-image: url("img/terrain/desert.jpg");
}

.plains {
  background-image: url("img/terrain/plains.jpg");
}

.fog {
  background-image: url("img/terrain/fog.jpg");
}

.soldier {
  background-image: url("img/player.svg");
}

.city {
  background-image: url("img/greek-temple.svg");
}

.capitol {
  background-image: url("img/capitol.svg");
}

.ruins {
  background-image: url("img/ancient-columns.svg");
}

.icon svg {
  position: absolute;
  left: 0;
  top: 0;
}

.board .icon {
  pointer-events: auto;
  position: absolute;
  z-index: 1;
}

.highlight {
  outline: 0.075em solid;
  outline-offset: 0.1em;
  outline-color: white;
}

.board .action {
  z-index: 2;
}

.board .action .icon {
  position: relative;
}

.board .part {
  background-color: white;
  border-radius: 0.3em;
  border: 1px solid black;
  position: absolute;
  z-index: 3;
}

/* ------------------------------------------------------------------- */
.player-tab {
  margin-left: 1em;
  display: inline-block;
  cursor: pointer;
}

.selected.player-tab {
  border: 0.2em solid #636;
  background-color: #203;
  border-radius: 0.2em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.player-badge {
  display: inline-block;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 0.2em;
  margin: 0.2em;
}

.players {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hidden.player {
  display: none;
}

.player {
  display: inline-block;
  background-color: #203;
  color: black;
  border: 0.2em solid #636;
  border-radius: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.player .stats {
  background-color: #000;
  color: #fff;
  margin: 0;
}

.bag {
  vertical-align: middle;
  display: inline-block;
  background-color: black;
  min-width: 1em;
  position: relative;
  margin: 0.2em;
}

/* ----------------------------------------------------------------------- */
.question {
  outline: 0.075em dashed;
  outline-offset: 0.1em;
}

.question:hover {
  outline-width: 0.1em;
  outline-style: solid;
  cursor: pointer;
}

.bag .question {
  outline-color: white;
}

.tech .question {
  outline-color: black;
}

.tech.question {
  outline-color: white;
}

.turn .question {
  outline-color: black;
}

.board .question {
  outline-color: white;
}

.market .question {
  outline-color: white;
}

.turn {
  display: block;
  background-color: white;
  border: 0.2em solid #636;
  border-radius: 0.5em;
  padding-left: 0.2em;
  color: black;
  left: 0;
  top: 0;
}

.turn .if {
  background-color: #ccc;
  margin-left: 0.3em;
}

.turn .or {
  background-color: #ccc;
  margin-left: 0.3em;
}

.button {
  background-color: #f90;
  border-radius: 0.2em;
  margin: 0.2em;
  display: inline-block;
}

/* -------------------------------------------------------- */
.markets {
  border: 0.2em solid #636;
  border-radius: 0.5em;
  background-color: #203;
  color: #636 !important;
}

.market {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.2em;
}

.deck-name {
  display: inline-block;
  text-align: center;
  margin: 0.2em;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
