.token {
  background-color: black;
  border-radius: 0.2em;
}

.square.token {
  border-radius: 0.2em;
}

.round.token {
  border-radius: 50%;
}

svg.red    { fill: #f00; }
svg.green  { fill: #0f0; }
svg.blue   { fill: #0ff; }
svg.yellow { fill: #ff0; }

svg.animal { fill: #f60; }
svg.wood   { fill: #960; }
svg.stone  { fill: #999; }
svg.ore    { fill: #9cf; }

.stack {
  position: relative;
  background-color: red;
}
