.game {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.decks {
  display: flex;
  border: 1px solid blue;
  align-items: center;
}

.deck {
  position: relative;
  margin-left: 1em;
}

.deck .counter {
  position: absolute;
  top: 0;
  right: 5%;
  color: white;
  background-color: black;
  border-radius: 10%;
  width: 2em;
  text-align: center;
}





.phrase {
  display: inline-block;
}

.text-answer {
  display: inline-block;
  margin-left: 1em;
}

.answer {
  border: 5px solid red;
  cursor: pointer;
}

.deck.answer {
}


.players {
  display: flex;
  flex-direction: column;
}

.player {
  display: flex;
  border: 1px solid black;
  margin: 1em;
  padding: 0.5em;
}

.player > .counter {
  display: inline-block;
}

.player .label.current {
  text-decoration: underline;
  font-weight: bold;
}

.hand {
  display: flex;
}

.hand .card {
  margin-left: 1em;
}

.card {
  border-radius: 5%;
  background-size: cover;
}

.VaultBot     { background-image: url("image/VaultBot.png"); }
.Bombarder    { background-image: url("image/Bombarder.png"); }
.HeapTrawler  { background-image: url("image/HeapTrawler.png"); }
.StiltLoper   { background-image: url("image/StiltLoper.png"); }
.PhaseSaber   { background-image: url("image/PhaseSaber.png"); }
.Blank        { background-image: url("image/Blank.png"); }
